<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link rel="stylesheet" href="menu.css" />
  </head>

  <body>
    <nav class="menu">
      <div>
        <h1>ㅈㄱ</h1>
        <h1>ㅃㄱ</h1>
      </div>

      <ul class="menu__list">
        <li class="menu__btn">
          <a class="menu__link" href="#">
            <div class="menu__link__explain">
              <span><i class="fa-solid fa-clipboard-user fa-lg"></i></span>
              <span>일반</span>
            </div>
          </a>
        </li>

        <li class="menu__btn">
          <a class="menu__link" href="#">
            <div class="menu__link__explain">
              <span><i class="fa-solid fa-clipboard-question fa-lg"></i></span>
              <span>익명</span>
            </div>
          </a>
        </li>

        <li class="menu__btn">
          <a class="menu__link" href="#">
            <div class="menu__link__explain">
              <span><i class="fa-solid fa-comment fa-lg"></i></span>
              <span>메시지</span>
            </div>
          </a>
        </li>

        <li class="menu__btn">
          <a class="menu__link" href="#">
            <div class="menu__link__explain">
              <span><i class="fa-solid fa-gamepad"></i></span>
              <span>매칭</span>
            </div>
          </a>
        </li>

        <li class="menu__btn">
          <a class="menu__link" href="#">
            <div class="menu__link__explain">
              <span><i class="fa-solid fa-user fa-lg"></i></span>
              <span>프로필</span>
            </div>
          </a>
        </li>
      </ul>
    </nav>

    <script
      src="https://kit.fontawesome.com/0f7e35127c.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
