<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="matching-decline.css" />
    <title>Document</title>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body>
    <nav class="menu">
      <div>
        <h1>ㅈㄱ</h1>
        <h1>ㅃㄱ</h1>
      </div>

      <ul class="menu__list">
        <li class="menu__btn">
          <a class="menu__link" href="#">
            <div class="menu__link__explain">
              <span><i class="fa-solid fa-clipboard-user fa-lg"></i></span>
              <span>일반</span>
            </div>
          </a>
        </li>

        <li class="menu__btn">
          <a class="menu__link" href="#">
            <div class="menu__link__explain">
              <span><i class="fa-solid fa-clipboard-question fa-lg"></i></span>
              <span>익명</span>
            </div>
          </a>
        </li>

        <li class="menu__btn">
          <a class="menu__link" href="#">
            <div class="menu__link__explain">
              <span><i class="fa-solid fa-comment fa-lg"></i></span>
              <span>메시지</span>
            </div>
          </a>
        </li>

        <li class="menu__btn">
          <a class="menu__link" href="#">
            <div class="menu__link__explain">
              <span><i class="fa-solid fa-gamepad"></i></span>
              <span>매칭</span>
            </div>
          </a>
        </li>

        <li class="menu__btn">
          <a class="menu__link" href="#">
            <div class="menu__link__explain">
              <span><i class="fa-solid fa-user fa-lg"></i></span>
              <span>프로필</span>
            </div>
          </a>
        </li>
      </ul>
    </nav>
    <script
      src="https://kit.fontawesome.com/0f7e35127c.js"
      crossorigin="anonymous"
    ></script>

    <div class="matching-decline__content">
      <div class="matching-decline__content__box">
        <h1>매칭 실패!</h1>
        <h5>매칭된 인원 중 거절한 유저가 있습니다.</h5>
        <h5>다시 매칭하시겠습니까?</h5>
        <a href="matching-request.html" class="btn btn-primary"
          >다시 매칭하기</a
        >
      </div>
    </div>
  </body>
</html>
