<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link rel="stylesheet" href="matching.css" />
    <link rel="stylesheet" href="../menu.css" />
    <link rel="stylesheet" href="matching-popup.css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>

    function connect(roomName, fnick) {
    getMessage(roomName, fnick);
    var sockJs = new SockJS("http://localhost:8080/GGMatching");
    var stomp = Stomp.over(sockJs);

    stomp.connect({}, function () {

        console.log("stomp 연결");

        stomp.subscribe("/matchingsub/chat/room/" + roomName, function (response) {
            console.log("stomp 구독");
            console.log(response);

            var content = JSON.parse(response.body);
            var receiver = content.receiver;
            var message = content.message;
            $(`#msg-history`).append(temp_html);
        });
    });

    }
      
      function popup_content(hideOrshow) {
        if (hideOrshow == "hide"){
          document.getElementById("popup_content_wrap").style.display = "none";
          var settings = {
      "url": "http://localhost:8080//api/matching/cancel",
      "method": "GET",
      "timeout": 0,
      "headers": {
        "Content-Type": "application/json",
      }
    };

    $.ajax(settings).done(function (response, status, xhr) {
      localStorage.setItem('Authorization', xhr.getResponseHeader('Authorization'))
      window.location = ("/matching/matching-request.html")
    });
    }
    else{
      document
        .getElementById("popup_content_wrap")
        .removeAttribute("style");
      }
    }


      window.onload = function () {
        setTimeout(function () {
          popup_content("show");
        }, 100);

        webSocket.onopen = () => {
        webSocket.send("${loginUser.memId}");
        wsSend();
	}
      };

        let client;
        document.addEventListener("DOMContentLoaded", function() {
            client = new WebSocket('ws://localhost:8080/test');

            client.onopen = function (event) {
                console.log("Connected!!")
            };

            client.onmessage = function (event) {
                const messages = document.querySelector("#messages");
                message.innerText = event.data;
                messages.appendChild(message)
            }
        });

        function send() {
            const message = document.querySelector(".message");
            client.send(message.value);
            message.value = '';
        }
    
    </script>
  </head>

  <body>
    <nav class="menu">
      <div>
        <h1>ㅈㄱ</h1>
        <h1>ㅃㄱ</h1>
      </div>

      <ul class="menu__list">
        <li class="menu__btn">
          <a class="menu__link" href="#">
            <div class="menu__link__explain">
              <span><i class="fa-solid fa-clipboard-user fa-lg"></i></span>
              <span>일반</span>
            </div>
          </a>
        </li>

        <li class="menu__btn">
          <a class="menu__link" href="#">
            <div class="menu__link__explain">
              <span><i class="fa-solid fa-clipboard-question fa-lg"></i></span>
              <span>익명</span>
            </div>
          </a>
        </li>

        <li class="menu__btn">
          <a class="menu__link" href="#">
            <div class="menu__link__explain">
              <span><i class="fa-solid fa-comment fa-lg"></i></span>
              <span>메시지</span>
            </div>
          </a>
        </li>

        <li class="menu__btn">
          <a class="menu__link" href="#">
            <div class="menu__link__explain">
              <span><i class="fa-solid fa-gamepad"></i></span>
              <span>매칭</span>
            </div>
          </a>
        </li>

        <li class="menu__btn">
          <a class="menu__link" href="#">
            <div class="menu__link__explain">
              <span><i class="fa-solid fa-user fa-lg"></i></span>
              <span>프로필</span>
            </div>
          </a>
        </li>
      </ul>
    </nav>

    <script
      src="https://kit.fontawesome.com/0f7e35127c.js"
      crossorigin="anonymous"
    ></script>

    <div class="panel panel-default col-sm-6">
      <div class="panel panel-heading text-center">Match #51</div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item text-center">매칭완료!</li>
          <li class="list-group-item text-center">LOL-5인</li>
          <li class="list-group-item text-center">
            <h4>디스코드 URL</h4>
<!-- 
          <div class="messages">
              <div id="messages"></div>
          </div>
-->
          </li>
        </ul>
        <div class="col-sm-6 text-center">
          <ul class="list-group">
            <li class="list-group-item">
              <img
                class="team-icon"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYA0FmymaIJvVegj8ItF44YWoCRR2vEZPH5g&usqp=CAU"
                width="64"
                height="64"
              />
            </li>
            <li class="list-group-item">나는시럽</li>
            <li class="list-group-item">BRONZE</li>
            <li class="list-group-item">840</li>
          </ul>
        </div>
        <div class="col-sm-6 text-center">
          <ul class="list-group">
            <li class="list-group-item">
              <img
                class="team-icon"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNITSNav3GRQQYG3g5bA_04NwNYMDsVAbzsePh9u1wnpuaLMOi9MSa47JQWcYXQjpC53U&usqp=CAU"
                width="64"
                height="64"
              />
            </li>
            <li class="list-group-item">볼만한거없나요</li>
            <li class="list-group-item">SILVER</li>
            <li class="list-group-item">-50</li>
          </ul>
        </div>

        <div class="col-sm-6 text-center">
          <ul class="list-group">
            <li class="list-group-item">
              <img
                class="team-icon"
                src="https://cdn.aitimes.com/news/photo/202208/146302_154015_4118.png"
                width="64"
                height="64"
              />
            </li>
            <li class="list-group-item">안녕하세요</li>
            <li class="list-group-item">SILVER</li>
            <li class="list-group-item">150</li>
          </ul>
        </div>

        <div class="col-sm-6 text-center">
          <ul class="list-group">
            <li class="list-group-item">
              <img
                class="team-icon"
                src="https://cdn.thedaysnews.co.kr/news/photo/202212/6223_19438_3552.png"
                width="64"
                height="64"
              />
            </li>
            <li class="list-group-item">못하면던짐</li>
            <li class="list-group-item">SILVER</li>
            <li class="list-group-item">-800</li>
          </ul>
        </div>

        <div class="col-sm-6 text-center">
          <ul class="list-group">
            <li class="list-group-item">
              <img
                class="team-icon"
                src="https://img1.daumcdn.net/thumb/R1280x0/?fname=http://t1.daumcdn.net/brunch/service/user/wXP/image/6j8FvDZzIaPickhD9G5IR-u7yGc.png"
                width="64"
                height="64"
              />
            </li>
            <li class="list-group-item">진구야</li>
            <li class="list-group-item">SILVER</li>
            <li class="list-group-item">70</li>
          </ul>
        </div>
      </div>
    </div>

    <div id="popup_content_wrap" >
      <div id="popup_content">

        <center>
          <h1>매칭 중
            <div class="square"style="z-index: 99;">
              <div class="spin" style="z-index: 99;"></div>
          </div>              
          </h1>
          <input
            type="submit" name="cancel" value="취소하기" class="btn btn-primary"
            onClick="popup_content('hide')">

        </center>
      </div>
    </div>
  </body>
</html>



<style>
    .square{
    border:0;
    width:80px;
    padding:0px;
    margin-top: 20px;
    margin-left: 10px;
    }

    .spin {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border:dashed 5px white;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    }

    @-webkit-keyframes spin {
    from   {  -webkit-transform: rotate(0deg); }
    to   {  -webkit-transform: rotate(180deg); }
    }

    .message {
        margin: 5em;
        color: olive;
        border: solid 2px #D2691E;
        -webkit-transition: 0.5s; transition: 0.5s;
        width: 50%;
        padding: 10px 20px;
        box-sizing: border-box;
    }
    .messages {
        margin: 5em;
    }
    .send-btn {
        background-color: #F4FEE2;
        padding: 10px 20px;
    }
    li {
        list-style-type: none;
        margin: 1em;
        text-align: center;
        font-size: 2em;
    }

</style>