@import "../menu.css";

.matching-decline__content {
    width: 70%;
    margin-top: 70px;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.matching-decline__content__box {
    margin-left: 200px;
    width: 500px;
    text-align: center;
    border: 1px solid #B7E5DD;
    padding-bottom:20px;
}