h1{
    color:#00cbfe;
}

p{
color:#fff;
}


#popup_content_wrap {
    width: 100%;
    height: 100%;   
    top: 0;
    left: 0;   
    position: fixed;	
    background: rgba(0, 0, 0, 0.74);
    z-index: 9999999;
}

#popup_content {
    width: 50%;
    height: 250px;
    padding:20px;
    position: relative;
    top: 15%;
    left: 25%;
    background: #1b100ed9;
    border: 1px solid #00cbfe;
    max-width: 500px;
}

#popup_content h1 {
    margin-bottom: 40px;
}

#popup_content p {
    margin-bottom: 30px;
}